# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Virtual Environment ---
backend/venv
backend/.env
backend/.venv
backend/env

# --- Flask / Backend ---
backend/__pycache__/
backend/venv/
backend/instance/
backend/*.db
backend/*.sqlite3
backend/*.sqlite
backend/*.log


.vscode/
__pypackages__/

# --- Misc ---
backend/__pypackages__/

todo.txt